@keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:1;}
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  padding: 60px;
  opacity: 0;
  height: 100%;
  background: #396172; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #396172 0%, #192b33 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#396172), color-stop(100%,#192b33)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #396172 0%,#192b33 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #396172 0%,#192b33 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #396172 0%,#192b33 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #396172 0%,#192b33 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396172', endColorstr='#192b33',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.pep{
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: left .1s, top .1s;
  -moz-transition: left .1s, top .1s;
  -ms-transition: left .1s, top .1s;
  -o-transition: left .1s, top .1s;
  transition: left .1s, top .1s;
  padding: 8px;
  font-weight: 600;
  font-size: 20px;
  font-family: arial, sans-serif;
  background: rgba(255,255,255,0.1);
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 1s;
  box-shadow: inset 1px 0 0 0 rgba(255,255,255,0.1);
  cursor: move;
}
.master .one{
  color: #FFD933;
  border-top: 7px solid #FFD933;
}
.master .two{
  color: #8FB359;
  border-top: 7px solid #8FB359;
}
.master .four{
  color: #FF8000;
  border-top: 7px solid #FF8000;
}
.master{
  height: 80px;
  float: left;
  margin-right: 50px;
  position: relative;
}
#grid {
  border-top: 7px solid #fff;
  width: 800px;
  height: 367px;
  margin-bottom: 30px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}
#grid li{
  height: 40px;
  -webkit-transition: background .2s;
  float: left;
  background: rgba(0,0,0,0.2);
  box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.07);
}
#grid li:first-child{
  box-shadow: none;
}
.pep-active{
  z-index: 5;
  -webkit-transition: box-shadow .2s;
  -moz-transition: box-shadow .2s;
  -ms-transition: box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .3s;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}
#grid .grid-playback-active{
  background-color: rgba(0,0,0,0.1);
  /*-webkit-transition: background .3s;*/
}
#trash{
  position: absolute;
  height: 150px;
  width: 150px;
  bottom: 0;
  right: 0;
  background: red;
}
#top-one{
  padding: 8px;
  font-weight: 900;
  font-size: 20px;
  font-family: arial, sans-serif;
  color: #fff;
}
#play{
  padding: 15px;
  font-size: 15px;
  font-family: arial, sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 4px;
  padding-left: 15px;
  display: inline-block;
  z-index: 15;
}
#wrapper{
  width: 900px;
  margin: 0 auto;
}